baal==1.7.0
matplotlib==3.7.1
numpy==1.23.5
opencv-python==4.7.0.72
pandas==2.0.0
scikit-learn==1.2.2
scipy==1.10.1

# torch==2.0.0+cu118
# torchaudio==2.0.1+cu118
# torchmetrics==0.9.3
# torchvision==0.15.1+cu118

wandb==0.15.1

